<div class="containert-fluid">
  <nz-page-header class="site-page-header">
    <nz-breadcrumb
      nz-page-header-breadcrumb
      class="d-flex justify-content-between"
    >
      <h1 class="color__titulo titulo__uno">Evaluacion</h1>
      <div class="d-flex justify-content-between align-items-center">
        <div class="container">
          <div class="row d-flex align-items-center">
            <div class="col-4">
              <nz-avatar
                class="avatar"
                nzIcon="user"
                nzSrc="https://robohash.org/d"
              ></nz-avatar>
            </div>
            <div class="col-8 espacio">
              <h4 class="color__titulo titulo__dos">administrador</h4>
            </div>
          </div>
        </div>
      </div>
    </nz-breadcrumb>
  </nz-page-header>
</div>
