<div class="row" style="margin-top: 20px;">
  <div class="col-12">
    <nz-table #sortTable [nzData]="peliculasInput" nzTableLayout="fixed">
      <thead>
        <tr>
          <th
            *ngFor="let column of listOfColumn"
            [nzSortFn]="column.compare"
            [nzSortPriority]="column.priority"
          >
            {{ column.title }}
          </th>
          <th style="width: 250px;">Accion</th>
        </tr>
      </thead>
      <tbody class="table__cebra">
        <tr *ngFor="let data of sortTable.data">
          <td>{{ data.id }}</td>
          <td>{{ data.nombrePelicula }}</td>
          <td>{{ data.fechaPublicacion.toDate() | date:'medium'  }}</td>
          <td>{{ data.estado }}</td>
          <td>
            <div class="container">
              <div class="row">
                <div class="col-4 d-flex justify-content-center">
                  <button
                    nz-button
                    nzType="primary"
                  >
                    Turno
                  </button>
                </div>
                <div class="col-4 d-flex d-flex justify-content-center" >
                  <button nz-button nzType="primary"  (click)="editar(data)" class="btn-accion btn-edit">
                    <i nz-icon nzType="edit" nzTheme="outline"></i>
                  </button>
                </div>
                <div class="col-4 d-flex justify-content-center">
                  <button nz-button nzType="primary"  (click)="delete(data)" class=" btn-accion btn-danger">
                    <i nz-icon nzType="delete" nzTheme="outline"></i>
                  </button>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>
