<div class="row" style="margin-top: 20px;">
  <div class="col-12 d-flex justify-content-between align-items-center">
    <h1>Pelicula</h1>
    <div class="row d-flex align-items-center">
      <div class="col-6">
        <input nz-input placeholder="Buscar pelicula" />
      </div>
      <div class="col-6">
        <button
          nz-button
          nzType="primary"
          class="btn-default"
          (click)="onAddFilm()"
        >
          Nueva pelicula
        </button>
      </div>
    </div>
  </div>
</div>
<app-list-peliculas
  (peliculaOutput)="onUpdateFilm($event)"
  [peliculasInput]="peliculasModel"
></app-list-peliculas>

<nz-modal
  [(nzVisible)]="isVisible"
  [nzTitle]="modalTitle"
  [nzContent]="modalContent"
  [nzFooter]="modalFooter"
  (nzOnCancel)="handleCancel()"
>
  <ng-template #modalTitle>
    {{ tituloModal }}
  </ng-template>

  <ng-template #modalContent>
    <form [formGroup]="formPelicula" (ngSubmit)="saveFilm()">
      <div class="container">
        <div class="row marge-button">
          <div class="col-4">
            <label for="nombrePelicula">Nombre de la pelicula</label>
          </div>
          <div class="col-8">
            <input
              nz-input
              placeholder="Basic usage"
              name="nombrePelicula"
              formControlName="nombrePelicula"
            />
          </div>
        </div>
        <div class="row marge-button">
          <div class="col-4">
            <label for="fechaPublicacion">Fecha de publicacion</label>
          </div>
          <div class="col-8">
            <nz-date-picker formControlName="fechaPublicacion"></nz-date-picker>
          </div>
        </div>
        <div class="row marge-button">
          <div class="col-4">
            <label for="estado">Estado</label>
          </div>
          <div class="col-8">
            <nz-select
              nzShowSearch
              nzAllowClear
              nzPlaceHolder="Selecione estado"
              formControlName="estado"
            >
              <nz-option nzLabel="Activo" nzValue="activo"></nz-option>
              <nz-option nzLabel="Inativo" nzValue="inativo"></nz-option>
            </nz-select>
          </div>
        </div>
      </div>
    </form>
  </ng-template>
  <ng-template #modalFooter>
    <form [formGroup]="formPelicula" (ngSubmit)="saveFilm()">
      <button nz-button nzType="default" (click)="handleCancel()">
        Canselar
      </button>
      <button nz-button type="submit" nzType="primary">
        Enviar
      </button>
    </form>
  </ng-template>
</nz-modal>
