<div class="container-fluid">
  <div class="row">
    <div class="col-2 espacio">
      <ul nz-menu>
        <li nz-menu-item>
          <i nz-icon nzType="dashboard" nzTheme="outline"></i>
          <a routerLink="" routerLinkActive="router-link-active"> Dashboard</a>
        </li>
        <li nz-menu-item>
          <i nz-icon nzType="video-camera" nzTheme="outline"></i>
          <a routerLink="pelicula" routerLinkActive="router-link-active">
            Peliculas</a
          >
        </li>
        <li nz-menu-item>
          <i nz-icon nzType="ordered-list" nzTheme="outline"></i>
          <a routerLink="pelicula/list-turnos" routerLinkActive="router-link-active"> Turnos</a>
        </li>
        <li nz-menu-item>
          <i nz-icon nzType="key" nzTheme="outline"></i>
          <a> Administrador</a>
        </li>
        <li nz-menu-item>
          <i nz-icon nzType="user" nzTheme="outline"></i>
          <a> Perfil</a>Perfil
        </li>
        <li nz-menu-item>
          <i nz-icon nzType="poweroff" nzTheme="outline"></i>
          <a> Cerrar Session </a>
        </li>
      </ul>
    </div>
    <div class="col-10">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
