/* You can add global styles to this file, and also import other style files */
.espacio {
  padding-left: 0;
}
.btn {
  margin-top: 20px;
}
.btn-accion{
  border: 0;
}
.btn-danger{
  background: #FF4081;
}
.btn-edit{
  background: #00B8D4;
}
.btn-default {
  border: 0;
  background-color: #0091ea;
  width: 200px;
  height: 40px;
  color: #ffffff;
}
